
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: bold;
    src: url("../public/fonts/eot/Vazir-Bold.eot"); /* IE9 Compat Modes */
    src: url("../public/fonts/eot/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/woff2/Vazir-Bold.woff2") format("woff2"),
        url("../public/fonts/woff/Vazir-Bold.woff") format("woff"),
        url("../public/fonts/ttf/Vazir-Bold.ttf") format("truetype");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/eot/Vazir-Light.eot"); /* IE9 Compat Modes */
    src: url("../public/fonts/eot/Vazir-Light.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/woff2/Vazir-Light.woff2") format("woff2"),
        url("../public/fonts/woff/Vazir-Light.woff") format("woff"),
        url("../public/fonts/ttf/Vazir-Light.ttf") format("truetype");
}
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/eot/Vazir.eot"); /* IE9 Compat Modes */
    src: url("../public/fonts/eot/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/woff2/Vazir.woff2") format("woff2"),
        url("../public/fonts/woff/Vazir.woff") format("woff"),
        url("../public/fonts/ttf/Vazir.ttf") format("truetype");
}


@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/eot/Vazir-Medium.eot"); /* IE9 Compat Modes */
    src: url("../public/fonts/eot/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/woff2/Vazir-Medium.woff2") format("woff2"),
        url("../public/fonts/woff/Vazir-Medium.woff") format("woff"),
        url("../public/fonts/ttf/Vazir-Medium.ttf") format("truetype");
}
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("../public/fonts/eot/Vazir-Thin.eot"); /* IE9 Compat Modes */
    src: url("../public/fonts/eot/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/woff2/Vazir-Thin.woff2") format("woff2"),
        url("../public/fonts/woff/Vazir-Thin.woff") format("woff"),
        url("../public/fonts/ttf/Vazir-Thin.ttf") format("truetype");
}